<app-adminnavbar></app-adminnavbar>
<div class="blue grey darken-1" style="height:auto;border-style: solid;
border-width: 5px 5px;border-color:cyan;margin: 50px auto;padding: 50px;width: 1000px;">

<div class="container" style="padding: 0.5em;">
    
    <p>
        <a routerLink="/register" class="btn cyan">Register New User</a>
    </p>
    <div class="w-100">
    
      
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Manage</th>
                <th>Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="isLoading">
                <td colspan="8" >
                    <span class="center-align">
                        <mat-spinner></mat-spinner><br> 
                        Loading Quizzes ...
                    </span>
                </td>
            </tr>
           

            <tr *ngFor="let user of users">
                <td><a routerLink="/viewuser/{{user.Id}}" class="btn btn-success">Manage</a></td>
                <th>{{user.name}}</th>
                <th>{{user.email}}</th>
            </tr>
        </tbody>
    </table>
</div>




<router-outlet></router-outlet>
