<nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">TekQuiz Admin</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a routerLink="/admin">Dashboard</a></li>
        <li><a routerLink="/admin/topics">Topics</a></li>
        <li><a routerLink="/admin/quiz">Quiz</a></li>
        <li><a routerLink="/admin/questions">Questions</a></li>
        <li><a routerLink="/admin/users">Users</a></li>
      </ul>
    </div>
  </nav>
  <ul class="right hide-on-med-and-up">
         <li><a routerLink="/admin">Dashboard</a></li>
         <li><a routerLink="/admin/topics">Topics</a></li>
         <li><a routerLink="/admin/quiz">Quiz</a></li>
         <li><a routerLink="/admin/questions">Questions</a></li>
         <li><a routerLink="/admin/users">Users</a></li>
  </ul>

 