<app-adminnavbar></app-adminnavbar>
<div class="container">

            <h2> Participants </h2>
        
            <form #manageparticipants="ngForm" >

                <div class="input-field">
                    <input type="text" name="Name" id="" class="form-control" placeholder="Enter Name" >
                    <label for="Participants">Enter Name</label>
                </div>
                <div class="input-field">
                    <input type="text" name="Email" id="" class="form-control" placeholder="Enter Email-ID" >
                    <label for="Participants">Enter Email-ID</label>
                </div>
                
                <div class="input-field">
                    <input type="text" name="Score" id="" class="form-control" placeholder="Score" >
                    <label for="Participants">Score</label>
                </div>
                
                <div class="input-field">
                    <input type="text" name="Password" id="" class="form-control" placeholder="Enter Password" >
                    <label for="Participants">Enter Password</label>
                </div>
                <div class="form-group">
                    <label for="participants">TimeSpent</label>
                    <input type="time" name="time" id="" class="form-control" placeholder="TimeSpent" >
                </div>
              
            </form>
</div>